<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vending Machine Inventory</title>
</head>

<body>
    <h1 style="text-align: center;">Vending Machine Inventory Page</h1>
    <hr>
    
    <h4>Name: {{ name }}</h4> 
    <h4>Class: {{ class }}</h4>
    <h4>Student ID: {{ student_id }}</h4>
    <hr>

    <p>Note: <br>
        - add "products/" to the current url if you'd like to see all available products and its details on this vending machine</p>
</body>
</html>