<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vending Machine Inventory</title>
</head>
<body>
    <h1 style="text-align: center;">Vending Machine Inventory Page</h1>
    <hr>

    <!-- show every product that's not out of stock: -->
    {% if products %} 
        {% for product in products %}
            {% if product.amount > 0 %}
                <h3>Product {{ forloop.counter }} - {{ product.name }}</h3>
                <ul>
                    <li>Name: {{ product.name }}</li>
                    <li>Amount: {{ product.amount }}</li>
                    <li>Price: Rp.{{ product.price }},-</li>
                    <li>Date added: {{ product.date_added }}</li>
                    <li>Description: {{ product.description }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>